<div [@routerTransition]>
  <app-page-header [heading]="'List Med Rec'" [icon]="'fa-desktop'"></app-page-header>
  
<div class="main-card mb-3 card">
  <div class="card-header">
  Service List
  </div>
  <div class="table-responsive">
    <table class="table table-borderless table-striped table-hover" [svData]="listmedrec" #sv="svDataTable" [svRowsOnPage]="3">
      <thead>
        <td class="text-center">No</td>
        <td class="text-center">Med Rec</td>
        <td class="text-center">Patient</td>
        <td class="text-center">History</td>
        <td class="text-center">Status</td>
        <td class="text-center">Tanggal</td>
        <td class="text-center">Pelayanan</td>
        <td class="text-center">Action</td>
      </thead>
      <tbody>

      <tr *ngFor = "let type of sv.data; let i = index;">
        <td class="text-center">{{i+1}}</td>
        <td class="text-center">
          {{type.patient?.medRecNumber}}
        </td>
        <td class="text-center">
          {{type.patient?.name}}
        </td>
        <td class="text-center">{{type.history}}</td>
        <td class="text-center">{{type.status}}</td>
        <td class="text-center">{{type.tgl}}</td>
        <td class="text-center">{{type.unitdoctor?.servie?.name}}</td>
        <td class="text-center">
          <a type="button" class="btn fa fa-trash-o" style="font-size:30px;color:red ;padding: 10;" (click)="open(delete)" (click)="upt(type.id)"></a>                  
          <a type="button" class="btn fa fa-edit" style="font-size:30px;color: green;" (click)="open(update)" (click)="upt(type.id)"></a>
        </td>
      </tr>
      </tbody>
      <tfoot>
          <tr>
                <td colspan="4">
                    <sv-bootstrap-paginator ></sv-bootstrap-paginator>
                  </td>
          </tr>
          </tfoot>
    </table>
  </div>
</div>


<ng-template #add let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title">Add Med Rec</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
  <form autocomplete="off">

    <div class="form-group">
      <label>Patients</label>
      <select class="form-control"  name="patients" [(ngModel)]="medrec.patient">
        <option [(value)]="et" selected disabled>Pilih Patients</option>
        <option  *ngFor="let et of patient" [(ngValue)]="et">{{et.name}}</option>
      </select>
  </div>
<div class="form-group">
  <label>Service</label>
      <select class="form-control"  name="service" [(ngModel)]="medrec.unitdoctor">
        <option [(value)]="et" selected disabled>Pilih Units</option>
        <option  *ngFor="let et of service" [(ngValue)]="et">{{et.servie?.name}}</option>
      </select>
  </div>

    <fieldset class="form-group">
      <label>Tanggal Periksa</label>
      <input type="date" class="form-control" name="tanggal" [(ngModel)]="medrec.tgl"  placeholder="Enter Date">
    </fieldset>

    <fieldset class="form-group">
      <label>History</label>
      <input class="form-control" name="history" [(ngModel)]="medrec.history"  placeholder="Enter History">
    </fieldset>

    <fieldset class="form-group">
      <label>Status</label>
      <input class="form-control" name="status" [(ngModel)]="medrec.status"  placeholder="Enter Service Description">
    </fieldset>   
  </form>
  </div>
  <div class="modal-footer">
    <a  class="btn btn-primary"  name="submit" value="" (click)="createuser(succes)" (click)="c('Close click')">Save</a>
  </div>
  </ng-template>

  <ng-template #succes let-c="close" let-d="dismiss">
  
    <div class="modal-body" style="text-align: center;">
        <h5 style="color:grey;">ADD Medrec SUCCES</h5>
    </div>
    <div class="modal-footer">
      <a type="button" class="btn btn-primary" style="text-align: left;" (click)="c('Close click')" href="medrec">OK</a>
    </div>
    </ng-template>

    
    <ng-template #delete let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h4 class="modal-title">Delete Medrec</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <p>Are You Sure to delete ??</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="c('Close click')" (click)="deleteEmployee(medrec.id)" href="medrec">Yes</button>
          <button type="button" class="btn btn-secondary" (click)="c('Close click')">No</button>
      </div>
      </ng-template>
  
    <ng-template #update let-c="close" let-d="dismiss">
      <div class="modal-header">
          <h4 class="modal-title">Update Service</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form> autocomplete="off"
          <div class="form-group">
            <label>Patients</label>
            <select class="form-control"  name="patients" [(ngModel)]="medrec.patient">
              <option [(value)]="medrec.patient" selected disabled>{{medrec.patient?.name}}</option>
              <option  *ngFor="let et of patient" [(ngValue)]="et">{{et.name}}</option>
            </select>
        </div>
      <div class="form-group">
        <label>Service</label>
            <select class="form-control"  name="service" [(ngModel)]="medrec.unitdoctor">
              <option [(value)]="medrec.unitdoctor" selected disabled>{{medrec.unitdoctor?.servie?.name}}</option>
              <option  *ngFor="let et of service" [(ngValue)]="et">{{et?.servie?.name}}</option>
            </select>
        </div>
      
          <fieldset class="form-group">
            <label>Tanggal Periksa</label>
            <input type="date" class="form-control" name="tanggal" [(ngModel)]="medrec.tgl"  placeholder="Enter Date">
          </fieldset>
      
          <fieldset class="form-group">
            <label>History</label>
            <input class="form-control" name="history" [(ngModel)]="medrec.history"  placeholder="Enter History">
          </fieldset>
      
          <fieldset class="form-group">
            <label>Status</label>
            <input class="form-control" name="status" [(ngModel)]="medrec.status"  placeholder="Enter Service Description">
          </fieldset>   
        </form>
      </div>
      <div class="modal-footer">
        <a href="medrec" class="btn btn-primary" type="submit" name="update" value="" (click)="updateEmp(medrec.id)" (click)="c('Close click')">Update</a>
        <b  class="btn btn-dark"  name="close"  (click)="c('Close click')">Close</b>
      
      </div>
      </ng-template>
    

